/*======= index.html =======*/
#page1 #content .col-1 {width:149px; margin-right:53px;}
#page1 #content .col-2 { width:158px;}

/*======= index-2.html =======*/
#page3 #content .col-1 {width:247px; margin-right:65px;}
#page3 #content .col-2 { width:247px;}

/*======= index-4.html =======*/
#page5 #content .col-1 {width:247px; margin-right:65px;}
#page5 #content .col-2 { width:247px;}


/*=========================*/


